@import 'projectVars.scss';

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // 10px
    font-size: 62.5%;
}

body{
    font-size: 2.8rem;
    font-family: 'Manrope', sans-serif;
    background-color: $dark-blue;
    min-height: 100vh;
}

.advice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    background-color: $dark-grayish-blue;
    border-radius: 16px;

    &__number{
        padding-top: 3rem;
        font-size: 1.4rem;
        color: $neon-green;
        letter-spacing: 4px;
    }

    &__text{
        padding: 2rem 2rem;
        color: $light-cyan;
        text-align: center;
    }

    &__divider{
        padding: 1rem;
    }

    &__button{
        padding: 2rem;
        background-color: $neon-green;
        border: none;
        border-radius: 50%;
        transform: translateY(50%);
        cursor: pointer;
        transition: box-shadow .3s;
    }

    &__button:hover{
        box-shadow: 0px 0px 22px 2px $neon-green;
    }
}

@media screen and (max-width:360px){
    .advice{
        width: 330px;
    }
}

@media screen and (max-width:280px){
    .advice{
        width: 280px;
    }
}